{{! 
 This file is part of Qa11y Dashboard.

 Qa11y Dashboard is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 Qa11y Dashboard is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with Qa11y Dashboard.  If not, see <http://www.gnu.org/licenses/>.
 Developed by Guillermo Alexis Lemunao Carrasco and Pa11y Guys
}}
{{#unless isLoginPage}}
{{#unless isHomePage}}
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<ol class="breadcrumb">
					<li><a href="/index">Dashboard</a></li>
					{{#if isNewTaskPage}}
						<li class="active">Agregar URL</li>
					{{/if}}
					{{#if isTaskPage}}
					  <li class="active">{{task.name}}</li>
					{{/if}}
					{{#if isTaskSubPage}}
						<li><a href="{{task.href}}">{{task.name}}</a></li>
					{{/if}}
					{{#if isResultPage}}
						<li><a href="{{task.href}}">{{task.name}}</a></li>
						<li class="active">Resultados {{date-format mainResult.date format="DD MMM YYYY"}}</li>
					{{/if}}
				</ol>
			</div>
		</div>
	</div>
{{/unless}}
{{/unless}}