{{!
This file is part of Qa11y Dashboard.

Qa11y Dashboard is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Qa11y Dashboard is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Qa11y Dashboard.  If not, see <http://www.gnu.org/licenses/>.
Developed by Guillermo Alexis Lemunao Carrasco and Pa11y Guys
}}

{{#content "title"}}
	{{task.name}} - {{simplify-url task.url}} ({{task.standard}})
{{/content}}

{{#added}}
	<div class="col-md-12 clearfix" data-test="alert">
		<div class="alert alert-success">
			<button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
			<strong>Exito!</strong>
			<p>La URL ha sido agregada.</p>
		</div>
	</div>
{{/added}}

{{#running}}
	<div class="col-md-12 clearfix" data-test="alert">
		<div class="alert alert-success">
			<button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
			<strong>Generando nuevos resultados!</strong>
			<p>
				Los resultados están siendo generados en segundo plano.
				Esto tomará algún tiempo para que se complete.
			</p>
		</div>
	</div>
{{/running}}

{{#ruleIgnored}}
	<div class="col-md-12 clearfix" data-test="alert">
		<div class="alert alert-success">
			<button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
			<strong>Regla ignorada!</strong>
			<p>
				Se ha ignorado una regla de accesibilidad para esta URL.
				<a href="{{task.hrefRun}}">Click aqui para generar resultados con la regla ignorada.</a>
			</p>
		</div>
	</div>
{{/ruleIgnored}}

{{#ruleUnignored}}
	<div class="col-md-12 clearfix" data-test="alert">
		<div class="alert alert-success">
			<button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
			<strong>Regla ignorada!</strong>
			<p>
				Haz eliminado uuna regla ignorada de accesibilidad para esta URL.
				<a href="{{task.hrefRun}}">Click aqui para generar resultados.</a>
			</p>
		</div>
	</div>
{{/ruleUnignored}}

{{> task-header}}

{{#if results}}

	{{#unless hasOneResult}}
		{{> graph}}
	{{/unless}}

{{/if}}

{{#if mainResult}}
	{{> result}}
{{else}}
	<div class="col-md-12" data-test="alert">
		<div class="alert alert-info">
			<h4>Aún no hay resultados para mostrar.</h4>
			<p>Qa11y aún no se ha ejecutado en esta URL, por lo que no hay resultados para mostrar.</p>
			<p><a href="{{task.hrefRun}}">Haga clic aquí para generar resultados para esta URL</a>.</p>
		</div>
	</div>
{{/if}}
